header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-image:url(/header.jpeg);
    height: 180px;
    background-repeat: repeat;
    background-position: center;
    
}
#rodape{
    text-align: center;
}
#artigo{
    width: 100%;
    border: 3px solid black;  
}
#aside{
    display: inline;
    width: 40%;
    text-align: center;
    border: 3px solid red;
    height: 50px;
    background-color: rgba(53, 138, 112, 0.301);
}
#titulo{
    font-size: large;
}
#principal{
    display: flex;
    padding-right: 40px;
}
#imagem1 {
    float:right;
    margin-right:200px;
    margin-top: 50px;
}
body{
    background-color: rgba(53, 138, 112, 0.301);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    }
ul li{
    list-style: none;
}
#soco{
    text-decoration: underline;
}